html {
    font-size: clamp(16px, 1vw + 15px, 24px);
}

body {
    background: linear-gradient(
	to right,
	rgb(64, 0, 0),
	black 25%,
	black 75%,
	rgb(64, 0, 0)
    );
}

body > header {
    position: relative;
    max-width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    overflow: hidden;
}

body > header > img {
    position: absolute;
    width: 100%;
    vertical-align: middle;
}

body > header > h1 {
    position: relative;
}

body > main {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1,h2,h3 {
    font-family: "Special Elite", ui-serif, Georgia, "Times New Roman", serif;
}

h1 {
    text-align: center;
    font-size: clamp(3rem, 1vw + 2rem, 6rem);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

div.image-wrapper {
    box-shadow: 0 0 2rem 0.8rem rgba(255, 0, 0, 0.5);
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div.map-wrapper {
    box-shadow: 0 0 2rem 0.8rem rgba(0, 255, 255, 0.5);
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
