{{- $title := (index .Page.Fragments.Headings 0).Title -}}
<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    {{ partial "googlefont.html" (slice "Special Elite") }}
    <link rel="stylesheet"
	  href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.red.min.css">
    {{- $css := resources.Get "css/bar-oh.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}"
	  integrity="{{ $css.Data.Integrity }}">
    <title>
      {{- $title -}}
      {{- if not .Page.IsHome }} | {{ .Site.Title -}}{{- end -}}
    </title>
  </head>
  <body>
    {{- partial "header.html" . -}}
    {{- block "main" . -}}
    {{- end -}}
    {{- partial "footer.html" . -}}
  </body>
</html>
