{{/* Parameters */}}
{{- $image := .image -}}
{{- $alt := .alt -}}
{{- $title := .title -}}
{{- $lazy := default true .lazy -}}

{{/* Configuration */}}
{{- $srcwidths := slice 420 789 1019 1430 2048 -}}
{{- $fallback_width := 789 -}}
{{- $sizes := "(min-width: 800px) 50vw, 100vw" -}}

{{/* Construct image(s) */}}
{{- $src := false -}}
{{- $srcset := false -}}
{{- $width := false -}}
{{- $height := false -}}
{{- $style := false -}}
{{- if $image -}}
  {{- if strings.HasSuffix $image ".svg" -}}
    {{- $src = $image.RelPermalink -}}
    {{- $svg := $image.Content | transform.Unmarshal -}}
    {{- $viewbox := split (index $svg "-viewBox") " " -}}
    {{- $width = float (index $viewbox 2) -}}
    {{- $height = float (index $viewbox 3) -}}
  {{- else -}}
    {{- $width = $image.Width -}}
    {{- $height = $image.Height -}}
    {{- $colors := delimit $image.Colors ", " -}}
    {{- $style = print "--img-colors: " $colors -}}
    {{- $fallback_image := ($image.Resize (print $fallback_width "x")) -}}
    {{- $src = $fallback_image.RelPermalink -}}
    {{- $srcset = slice -}}
    {{- range $srcwidth := $srcwidths -}}
      {{- if ge $width $srcwidth -}}
        {{- with $image.Resize (print $srcwidth "x webp") -}}
          {{- $srcopt := (printf "%s %dw" (urlize .RelPermalink) .Width) -}}
          {{- $srcset = $srcset | append $srcopt -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- $srcset = delimit $srcset "," -}}
  {{- end -}}
{{- end -}}

{{/* Render image */}}
<img
  alt="{{ $alt }}"
  {{ with $title }}
    title="{{ $title }}"
  {{ end }}
  {{ with $image }}
    width="{{ $width }}"
    height="{{ $height }}"
    src="{{ $src | safeURL }}"
  {{ end }}
  {{ with $srcset }}
    {{ printf "srcset=%q" $srcset | safeHTMLAttr }}
    sizes="{{ $sizes }}"
  {{ end }}
  decoding="async"
  {{ if $lazy }}
    loading="lazy"
  {{ else }}
    fetchpriority="high"
  {{ end }}
  {{ with $style }}
    {{ printf "style=%q" $style | safeHTMLAttr }}
  {{ end }}
/>
