{{/* Parameters */}}
{{- $siteName := default .Site.Params.resdiary.siteName .siteName -}}
{{- $widgetId := default .Site.Params.resdiary.widgetId .widgetId -}}
{{- $width := default "100%" .width -}}
{{- $height := default "710px" .height -}}
{{- $id := default "resdiary" .id -}}

{{/* Render */}}
{{- $src := printf "https://booking.resdiary.com/widget/Standard/%s/%s"
                   $siteName $widgetId -}}
<div id="{{ $id }}" class="booking-wrapper">
  <iframe
    width="{{ $width }}"
    height="{{ $height }}"
    title="Instant Booking"
    frameborder="0"
    style="border:0"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    allow="payment *"
    {{ printf "src=%q" $src | safeHTMLAttr }}
    >
  </iframe>
</div>
