{{/* Parameters */}}
{{- $videoId := .videoId -}}
{{- $title := default "" .title -}}
{{- $width := default "100%" .width -}}

{{/* Render */}}
{{- $src := printf "https://www.youtube.com/embed/%s?rel=0" $videoId -}}
<iframe
  class="youtube"
  width="{{ $width }}"
  title="{{ $title }}"
  frameborder="0"
  style="border:0"
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  {{ printf "src=%q" $src | safeHTMLAttr }}
  allowfullscreen
  >
</iframe>
